{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="icon" type="image/png" href="{% static 'stock/logo.png' %}">
    <title>StockPredict</title>
</head>
<body>


<nav class="navbar navbar-expand-md navbar-light bg-info py-3">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'stock/logo.png' %}" width="40" height="40" class="d-inline-block align-top">
            <span class="navbar-brand mb-0 h1 fs-2">StockPredict</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {% if user.is_authenticated %}
            <ul class="navbar-nav mr-auto">

                <li class="nav-item {{ main }}" style="width: 104px;">
                    <div class="badge bg-light text-wrap" style="width: 6rem;">
                        <a class="nav-link" href="{% url 'home' %}"><font size="4">Главная</font></a>
                    </div>
                </li>
                <li class="nav-item {{ companies }}" style="width: 120px;">
                    <div class="badge bg-light text-wrap" style="width: 7rem;">
                        <a class="nav-link" href="{% url 'companies' %}"><font size="4">Компании</font></a>
                    </div>
                </li>
                <li class="nav-item {{ about }}">
                    <div class="badge bg-light text-wrap" style="width: 8rem;">
                        <a class="nav-link" href="{% url 'about' %}"><font size="4">О проекте</font></a>
                    </div>
                </li>

            </ul>

            <form class="d-flex" method=POST action="{% url 'search_companies' %}">
                {% csrf_token %}
                <input class="form-control me-2" type="search" placeholder="Поиск акций" aria-label="Поиск"
                       name="searched">
                <button class="btn btn btn-primary" type="submit">Поиск</button>
            </form>

            {% endif %}

            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a href="#" onclick="$('#signOutBtn').click()" class="nav-link">
                        <font size="4">Выйти, <b>{{user.username}}</b></font></a>
                    <form style='display: none;' method="POST" action="{% url 'logoutuser' %}">
                        {% csrf_token %}
                        <button id="signOutBtn" type="submit">Выйти</button>
                    </form>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signupuser' %}"><font size="4">Регистрация</font></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'loginuser' %}"><font size="4">Войти</font></a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>
